@import '../../styles/base_styles.scss';

.pagination {
  margin-bottom: 2rem;
  padding: 0.5rem;
  font-family: $fonts;
  font-size: $font-size-sm;

  .pagination-list {
    display: flex;
    justify-content: center;

    &__item {
      background-color: $bg-col1;
      margin: 0 0.2rem;
      padding: 0.5rem;

      .item {
        color: $txt-col1;
        text-decoration: none;
      }
    }
  }
}
