$columns: 5;

.wrapper {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-gap: 0.75rem;
  grid-auto-rows: minmax(100px, auto);
  grid-auto-columns: minmax(100px, auto);
}

.wrapper > div {
  background: #eee;
  padding: 1rem;
}
