// grid
$columns: 5;

// colours
$card-col1: #eee;
$card-col2: brown;
$bg-col1: black;
$bg-col2: lightgray;
$bg-col3: lightsalmon;
$txt-col1: white;

// fonts
$fonts: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
  'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$fonts2: 'Courier New', Courier, monospace;
$fonts3: 'Trebuchet MS';
$font-size-sm: 0.9rem;
