@import '../../styles/base_styles.scss';

.card {
  background: $bg-col2;
  color: $bg-col1;
  display: flex;
  font-family: $fonts3;
  font-size: 0.9rem;
  flex-direction: column;
  justify-content: space-between;

  &__header {
    background-color: $bg-col1;
    color: $txt-col1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
  }

  &__body {
    font-weight: bold;
    line-height: 1rem;
    padding: 0.5rem 0.5rem;
  }
}

.card-item {
  margin: 0.25rem;
}

.by {
  color: darkgray;
  font-family: $fonts2;
  font-size: 0.6rem;
}

.title {
  color: $bg-col1;
}

.comments {
  padding: 0.5rem;
}

.button-group {
  color: $txt-col1;
  background-color: $card-col2;
  display: flex;
  justify-content: space-around;
  padding: 0.25rem;
}

// expanded card styles
.card-expanded {
  background-color: $bg-col3;
  grid-column-end: span 2;
  grid-row-end: span 2;
  line-height: 1.25rem;

  .card__body {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  .by {
    color: $card-col2;
    font-size: 0.8rem;
  }
}
