@import '../../styles/base_styles.scss';

.comments {
  background-color: $txt-col1;
  display: flex;
  font-size: 0.75rem;
  font-style: italic;
  padding: 0.2rem;

  .comment {
    &__icon {
      font-size: 1.25rem;
    }

    &__text {
      line-height: 1.25rem;
    }
  }
}

.foo {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 0.25rem;
}
